<div class="app-container">
  <as-split direction="horizontal" [gutterSize]="4" unit="pixel">
    <as-split-area [size]="sidebarCollapsed() ? 44 : 260" [minSize]="sidebarCollapsed() ? 44 : 150"
      [maxSize]="sidebarCollapsed() ? 44 : 600">

      <app-sidebar [isCollapsed]="sidebarCollapsed()" (toggleSidebar)="toggleSidebar()"
        (openConnectionDialog)="openConnectionDialog()" (editConnectionEvent)="editConnection($event)"
        (collectionSelected)="onCollectionSelected($event)" (redisKeySelected)="onRedisKeySelected($event)">
      </app-sidebar>
    </as-split-area>

    <as-split-area size="*">
      <div class="main-content">

        @if (isRedisConnection()) {
        <!-- Redis: dedicated key browser, no query editor -->
        <app-redis-viewer [selectedKey]="selectedRedisKey()"></app-redis-viewer>

        } @else if (isMongoConnection()) {
        <!-- MongoDB: documents viewer -->
        <app-mongo-viewer class="full-height-viewer" [collectionData]="selectedCollectionData()">
        </app-mongo-viewer>

        } @else {

        <as-split direction="vertical" [gutterSize]="4">
          <as-split-area [size]="60" [minSize]="20">
            <app-query-editor [queryText]="currentQueryText()" (queryTextChange)="currentQueryText.set($event)"
              [language]="currentLanguage()" (executeQuery)="executeQuery($event)">
            </app-query-editor>
          </as-split-area>
          <as-split-area [size]="40" [minSize]="20">
            <app-results-viewer [result]="queryResult()" [isLoading]="isLoadingQuery()">
            </app-results-viewer>
          </as-split-area>
        </as-split>
        }

      </div>
    </as-split-area>
  </as-split>
</div>

@if (showConnectionDialog()) {
<app-connection-dialog (close)="closeConnectionDialog()" [editConnection]="editingConnection()">
</app-connection-dialog>
}